@charset "utf-8";

body {

	font-family: "Bentham", Helvetica, Arial, sans-serif;

	/*background-color: #DFE3E6;*/
	background-color: white;
	font-size: 1.2em;
	text-decoration: none;

}
h1{
	text-align: center;
}

#wrapper {
	width: 80%; 
	margin-left: auto;
	margin-right: auto;
	background-color: white;

}

p {
	margin-right: 20px;
	line-height: 1.2em;
	font-family: "Bentham";

}
ul {
	margin-right: 20px;
	line-height: 1.2em;
	font-family: "Bentham";
	text-align: left;
	text-decoration: none;

}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
 img {
 	border-radius: 8%;
 	/*box-shadow: 5px 5px 5px #1e1e1e;*/
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }





	


